%c-carousel {
  @include clearfix;

  text-align: center;
  background-size: cover;
}

%c-carousel__container {
  margin: 0;
  width: 100%;

  li {
    list-style: none;
  }
}

.c-carousel {
  @extend %c-carousel;
}

.c-carousel__container {
  @extend %c-carousel__container;
}

.c-carousel--home {
  @extend %c-carousel;

  .c-carousel__slide {
    height: 540px;
    padding-top: 40px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .small {
      font-size: 16px;
      line-height: 24px;
      color: $color-black-60;
    }

    .title {
      font-family: $font-family-playfair;
      font-weight: normal;
      color: $color-american-flame-red;
      margin-bottom: 24px;
      font-size: 42px;
      line-height: 50px;

      @include breakpoint(large) {
        font-size: 52px;
        line-height: 68px;
      }
    }
  }
}

.c-carousel--error {
  @extend %c-carousel;

  margin-bottom: rem-calc(32px);

  .c-carousel__slide {
    height: 540px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .title {
      font-family: $font-family-playfair;
      font-weight: normal;
      color: $color-white;
      font-size: rem-calc(42px);
      line-height: rem-calc(50px);
      padding-top: rem-calc(100px);
      margin-bottom: rem-calc(100px);

      @include breakpoint(large) {
        font-size: rem-calc(52px);
        line-height: rem-calc(68px);
      }
    }
  }
}

.c-carousel--design {
  @extend %c-carousel;

  margin-bottom: rem-calc(32px);
  text-align: left;

  .c-carousel__slide {
    height: 540px;
    padding-top: 140px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    .title {
      font-family: $font-family-playfair;
      font-weight: normal;
      color: $color-white;
      margin-bottom: 24px;
      font-size: 42px;
      line-height: 50px;

      @include breakpoint(large) {
        font-size: 52px;
        line-height: 68px;
      }
    }

    .meta {
      color: $color-white;
      margin-bottom: 24px;
      font-size: rem-calc(12px);
      line-height: rem-calc(18px);

      .author {
        font-weight: bold;
      }
    }

    .button {
      font-weight: bold;
    }
  }
}

.c-carousel--cats {
  @extend %c-carousel;

  .c-carousel__slide {
    @include grid-column-gutter();
  }

  .slick-track {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .slick-prev,
  .slick-next {
    &::before {
      color: $color-american-flame-red;
    }
  }
}

.c-carousel--single {
  @extend %c-carousel;

  margin-bottom: rem-calc(32px);

  .c-carousel__slide {
    height: 250px;

    @include breakpoint(large) {
      height: 450px;
    }

    padding-top: 40px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
