.c-document-table {
  thead {
    border-bottom: solid 1px #ccc;
  }

  th {
    text-transform: uppercase;
  }

  .doc__title {
    font-family: $font-family-playfair;
    font-weight: bold;
  }

  .doc__type {
    text-transform: uppercase;
  }

  .doc__size {
    text-transform: uppercase;
  }

  .doc__download {
    font-weight: bold;
  }
}
