.c-feat-product {
  padding-top: 200px;
  padding-bottom: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .title {
    font-family: 'Playfair Display', 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: normal;
    font-size: 32px;
    line-height: 42px;
    color: $color-american-flame-red;
    margin-bottom: 24px;
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }
  }

  .link {
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }
  }
}
