#infinite-handle {
  margin: 30px auto;

  span {
    button {
      @include button($style: hollow);
    }
  }
}

.infinite-loader {
  position: relative;
  display: block;
  margin: 30px auto;
  width: 100%;

  .spinner {
    position: absolute;
    left: 50%;
  }
}

.infinite-wrap {
  @include grid-column-gutter();
}
