.c-mega-menu__trigger {
  // placeholder.
  &::after {
    @include usstove-icon;

    content: $usstove-icon_interface_Chevron-Down;
    font-size: 18px;
    padding-left: 6px;
  }
}

%c-mega-menu__panel {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 11px;
  z-index: 9999;
  background-color: $color-white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);

  &.is-active {
    display: block;
  }

  .panel__title {
    font-family: $font-family-playfair;
    font-size: 16px;
    line-height: 24px;
    color: $color-american-flame-red;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .panel__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 16px;
  }
}

.c-mega-menu__panel--parts {
  @extend %c-mega-menu__panel;

  .panel__list {
    margin: 0;
    display: flex;
  }

  .panel__list-item {
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
  }

  .panel__parts,
  .panel__accessories,
  .panel__actions {
    padding-top: 24px;
    padding-bottom: 64px;
  }

  .panel__parts {
    .panel__list {
      flex-direction: column;
    }
  }

  .panel__accessories {
    .panel__list {
      flex-wrap: wrap;
    }

    .panel__list-item {
      width: 50%;
      padding-right: 16px;
    }
  }

  .panel__actions {
    background-color: $color-black-05;

    .panel__title {
      margin-bottom: 16px;
    }

    p {
      font-size: 14px;
      line-height: 18px;
    }

    a {
      font-weight: bold;
    }

    .actions__support {
      margin-bottom: 30px;
    }

    .actions__search {
      padding-top: 18px;
      border-top: solid 1px $color-american-flame-red;
    }
  }

  .c-parts-search {
    .input-group {
      width: 100%;
    }
  }
}

.c-mega-menu__panel--products {
  @extend %c-mega-menu__panel;

  .panel__product {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .panel__description {
    margin-bottom: 8px;
  }

  .panel__links {
    display: flex;
    flex-direction: row;
  }

  .panel__link {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 16px;
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}
