.c-nav-main {
  background-color: $color-white;
  border-bottom: 1px solid #dde2eb;
  padding: 9px 0 10px;

  .column {
    position: relative;
  }
}

.c-nav-main__brand {
  display: block;
  width: 220px;
  height: 120px;
  margin: 0 auto;

  .brand__link {
    @include text-hide;

    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 220px;
    height: 120px;
  }
}

.c-nav-main__l,
.c-nav-main__r {
  position: absolute;
  margin: 0;

  .menu-item {
    list-style: none;

    a {
      padding: rem-calc(10px) 0;
      margin: 0 rem-calc(16px);
      font-weight: bold;
      color: $color-black;
      border-bottom: solid 4px transparent;
    }

    &.active a {
      border-bottom-color: $color-american-flame-red;
    }
  }

  > .menu-item {
    display: block;
    float: left;
  }
}

.c-nav-main__l {
  left: 0.9375rem;
  bottom: 0;

  .menu-item:first-child {
    a {
      margin-left: 0;
    }
  }
}

.c-nav-main__r {
  right: 0.9375rem;
  bottom: 0;

  .menu-item:last-child {
    a {
      margin-right: 0;
    }
  }
}
