.c-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: transparentize($color-black-20, 0.5);

  .spinner {
    text-align: center;
  }
}
