.c-parts-filters {
  padding-bottom: rem-calc(32);

  fieldset {
    @include clearfix;
  }

  .filter__label,
  .filter__btn {
    display: block;
    float: left;
    white-space: nowrap;
    font-size: 0.875rem;
    line-height: 1.8;
    padding: rem-calc(4 12);
    margin-right: rem-calc(12);
    margin-bottom: rem-calc(12);
  }

  .filter__label {
    background-color: #b2b2b2;
  }

  .filter__btn {
    font-weight: normal;
    text-transform: uppercase;
    border: none;
  }

  input {
    margin: rem-calc(0 0 0 8);
  }
}
