.c-pencil-ad {
  display: none;
  background-color: $color-daybreak-blue;
  padding: 6px 0;
  color: $color-black;

  p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;

    a {
      border-bottom: solid 1px $color-american-flame-red;
    }
  }
}

.c-pencil-ad__ad {
  width: 100%;

  .is-dismissable & {
    width: 80%;
  }
}

.c-pencil-ad__close {
  @include usstove-icon;

  margin-left: auto;
  cursor: pointer;
  font-size: rem-calc(22px);

  @include breakpoint(medium) {
    font-size: rem-calc($global-font-size);
  }

  &::after {
    content: $usstove_icon_interface_Close;
  }
}
