.c-product-gallery {
  @include flex-grid-row($behavior: nest, $columns: 6);

  margin-bottom: rem-calc(32px);

  @include breakpoint(large) {
    margin-bottom: rem-calc(0);
  }
}

.c-product-gallery__thumbs {
  @include flex-grid-column($columns: 2);

  .thumbs__image {
    border: solid 1px $color-black-20;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 1px 12px;
    padding: 5px;

    &.slick-current {
      border: solid 1px $color-american-flame-red;
      margin: 0 0 12px;
    }
  }
}

.c-product-gallery__fullsize {
  @include flex-grid-column($columns: 12);

  &.has-thumbs {
    @include breakpoint(large) {
      @include flex-grid-column($columns: 10);
    }
  }

  .slick-slider {
    border: solid 1px $color-black-20;
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-prev {
    left: 20px;
  }

  .slick-next {
    right: 20px;
  }

  .fullsize__image {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1px;
  }
}
