.c-product {
  .product__title {
    font-family: $font-family-playfair;
    color: $color-american-flame-red;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    margin-top: rem-calc(16px);
    margin-bottom: rem-calc(16px);

    @include breakpoint(large) {
      font-size: 40px;
      line-height: 53px;
      text-align: left;
      margin-top: rem-calc(0);
      margin-bottom: rem-calc(8px);
    }
  }

  .product__actions {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    @include breakpoint(large) {
      flex-direction: row;
    }

    .actions__price {
      align-content: flex-start;

      .price {
        @include breakpoint(large) {
          text-align: center;
        }

        .woocommerce-Price-amount {
          font-weight: bold;
          font-size: 28px;
          line-height: 37px;
          letter-spacing: 0.1px;
        }

        .price__msrp {
          display: block;
          text-transform: uppercase;
          font-size: rem-calc(12px);
          line-height: rem-calc(14px);
          letter-spacing: -0.09px;
        }
      }
    }

    .actions__ctas {
      @include breakpoint(large) {
        margin-left: auto;
      }

      .button {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }

  .product__overview {
    @include breakpoint(large) {
      margin-bottom: rem-calc(32px);
    }
  }

  .product__description {
    @include breakpoint(large) {
      border-bottom: solid 1px $color-black-20;
      margin-bottom: rem-calc(32px);
    }

    .description__specs {
      list-style: none;
      margin: 0;

      .specs__spec {
        margin-bottom: rem-calc(16px);
        font-size: rem-calc(12px);
        line-height: rem-calc(14px);
        letter-spacing: rem-calc(-0.09px);

        .spec__label {
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }

  .product__tabs {
    width: 100%;
    margin-bottom: rem-calc(64px);
  }

  .product__section {
    .section__title {
      font-family: $font-family-playfair;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.09px;
      line-height: 27px;
      padding-bottom: 12px;
      border-bottom: solid 1px $color-black-20;
      margin-bottom: 12px;
      color: $color-black;

      @include breakpoint(large) {
        color: $color-american-flame-red;
      }
    }

    .section__content {
      padding-bottom: 64px;

      .content__feature-list {
        list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><rect x="0" y="2" width="5" height="4" style="fill:%23db3d40;" /></svg>');

        @include breakpoint(large) {
          columns: 2;
          column-gap: 2rem;
        }

        li {
          margin-bottom: rem-calc(8);
          break-inside: avoid;
        }
      }

      .content__faqs {
        .faqs__faq {
          .faq__title {
            font-family: $font-family-playfair;
            font-weight: bold;
            color: $color-black;
          }

          .faq__content {
            padding-bottom: rem-calc(32px);
          }
        }
      }
    }
  }
}
