.c-tabs {
  .tabs__list {
    border-top: solid 1px $color-black-20;
    border-bottom: solid 1px $color-black-20;
    margin: 24px 0 36px;
    list-style: none;
  }

  .tabs__item {
    position: relative;
    padding-left: 0;
    padding-right: 0;

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      width: 1px;
      height: 34px;
      background-color: $color-black-20;
      right: 0;
      top: 50%;
      transform: translateY(-(34px / 2));
    }

    &:last-child {
      &::after {
        background-color: transparent;
      }
    }
  }

  .tabs__tab {
    text-align: center;
    display: block;
    width: 100%;
    color: $color-black;
    //padding-left: $grid-column-gutter;
    //padding-right: $grid-column-gutter;
    border-top: solid 4px transparent;
    border-bottom: solid 4px transparent;

    @include grid-column-gutter();

    &.is-active {
      border-bottom-color: $color-american-flame-red;
    }
  }
}

.c-tabs--product {
  .tabs {
    list-style: none;

    @include breakpoint(large) {
      color: $color-black;
      margin-bottom: rem-calc(32px);
      display: flex;
      flex-direction: row;
      border-top: solid 1px $color-black-10;
      border-bottom: solid 1px $color-black-10;
    }
  }

  .tabs__title {
    @include breakpoint(large) {
      flex: 1;
      text-align: center;
      position: relative;
    }

    &::before {
      @include breakpoint(large) {
        content: ' ';
        display: block;
        height: 40px;
        width: 1px;
        background-color: $color-black-10;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-20px);
      }
    }

    &:first-child {
      &::before {
        @include breakpoint(large) {
          content: none;
        }
      }
    }

    .tabs__tab {
      font-weight: bold;
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 0.24px;
      //border-bottom: solid 1px $color-black-10;
      background-color: transparent;

      @include breakpoint(large) {
        color: $color-black;
      }
    }

    &.is-active .tabs__tab {
      border-bottom: solid 4px $color-american-flame-red;
    }
  }

  .tabs__content {
    border-left: none;
    border-right: none;
  }

  .tabs__panel {
    .row {
      flex-direction: column;

      @include breakpoint(large) {
        flex-direction: row;
      }
    }
  }
}
