.c-title-bar {
  // placeholder
}

.c-title-bar__brand {
  .brand__link {
    @include text-hide;

    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 50px;
  }
}

.c-title-bar__search,
.c-title-bar__nav {
  font-size: rem-calc(22);
  padding-left: rem-calc(22);
  cursor: pointer;
}

.c-title-bar__search {
  &::before {
    @include usstove-icon;

    content: $usstove-icon_interface_Search;
  }
}

.c-title-bar__nav {
  &::before {
    @include usstove-icon;

    content: $usstove-icon_interface_Menu;
  }
}
