.c-video-playlists {
  .playlists__title {
    font-family: $font-family-playfair;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.09px;
    line-height: 27px;
    padding-bottom: 12px;
    border-bottom: solid 1px $color-black-20;
    margin-bottom: 12px;
    color: $color-american-flame-red;
  }

  .playlists__playlist {
    padding-bottom: 64px;
  }
}
