.c-where-to-buy {
  @include flex-grid-row();

  .where-to-buy__retailer {
    text-align: center;
    padding: rem-calc(16px);

    @include flex-grid-column(4 of 4);

    @include breakpoint(medium) {
      @include flex-grid-column(4 of 12);
    }

    @include breakpoint(large) {
      @include flex-grid-column(3 of 15);
    }

    img {
      max-height: 150px;
      width: auto;
      filter: grayscale(100%);
      opacity: 0.6;
      transition: filter 0.25s, opacity 0.25s;
    }

    &:hover {
      img {
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }
}
