form {
  // Type reset
  &,
  input,
  textarea,
  select {
    font-family: $font-family-roboto;
  }

  label {
    font-size: 1rem;
  }

  // "Optional" indicator
  .label--optional-text {
    position: relative;

    &.is-input-empty::after {
      content: 'Optional';
      font-size: 0.875em;
      position: absolute;
      right: 0.5rem;
      bottom: 0.5rem;
      color: $ussc-form__color--faint;
    }
  }

  // hide labels (we use placeholders)
  .ussc-form__input-label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  // Headings & notes
  .ussc-form__title {
    // taken from .c-footer__support .support__title; // _footer.scss
    color: $color-american-flame-red;
    font-family: $font-family-playfair;
    font-size: 32px;
    line-height: 43px;
  }

  .ussc-form__note {
    font-size: 14px;
    line-height: 1.285714286;
    margin-bottom: 40px;
  }

  // fieldset
  .ussc-form__fieldset,
  fieldset {
    width: 100%;
  }

  legend {
    font-family: $font-family-playfair;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.35;
    margin-bottom: 37px;
    margin-top: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid $ussc-form__color--border;
    width: 100%;
  }

  // buttons
  .ussc-form__button {
    @extend .button;

    font-weight: bold;
    text-transform: uppercase;
  }

  .ussc-form__button--secondary {
    background: $ussc-form__color--secondary;

    &:hover {
      background: $ussc-form__color--secondary--alt;
    }
  }

  // Basic inputs
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="number"],
  input[type="email"],
  input[type="search"],
  select {
    border: none;
    border-bottom: 1px solid $color-black-20;
    box-shadow: none;
    padding-left: 0;
    margin-bottom: 37px;
  }

  input::placeholder {
    color: $ussc-form__color--light;
  }

  // Checkboxes & radios

  [type="checkbox"],
  [type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    cursor: pointer;
  }

  [type="checkbox"] + label,
  [type="radio"] + label {
    font-size: 1rem;
    color: $ussc-form__color--light;
    margin-left: 0;
    margin-bottom: 35px;
  }

  /* stylelint-disable */
  [type="checkbox"] + label::before,
  [type="radio"] + label::before {
    @include usstove-icon;
    width: 1.25em;
    margin-right: .5rem;
    display: inline-block;
    position: relative;
    top: 2px;
  }
  /* stylelint-enable */

  // icons
  [type="checkbox"] + label::before {
    content: $usstove-ui_forms_checkbox_Normal;
  }

  [type="radio"] + label::before {
    content: $usstove-ui_forms_Radio_Normal;
  }

  // checked
  [type="checkbox"]:checked + label::before {
    content: $usstove-ui_forms_checkbox_Selected;
  }

  [type="radio"]:checked + label::before {
    content: $usstove-ui_forms_Radio_Selected;
  }

  // Stacked checkboxes & radios (ol or ul)
  .ussc-inputs-list {
    margin: 0 0 1rem;
    list-style: none;

    [type="checkbox"] + label,
    [type="radio"] + label {
      line-height: 1.2;
      height: auto;
      margin-bottom: 0;
    }
  }
}
