table {
  // table styles
}

tbody {
  tr {
    // table row styles
    border-bottom: solid 1px $color-black-20;
  }

  th {
    // table head styles
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.08px;
    font-weight: normal;
  }

  td {
    // table cell styles
    font-weight: 300;
  }
}
