p {
  font-weight: 300;
  letter-spacing: 0.08px;
}

.screen-reader-text {
  @include text-hide;
}

.main {
  a {
    color: $color-american-flame-red;
    border-bottom: solid 1px $color-american-flame-red;
  }
}

.page-header {
  font-family: $font-family-playfair;
  color: $color-american-flame-red;
  text-align: center;
  margin-bottom: 32px;
}

.page-description,
.term-description {
  p {
    font-family: $font-family-playfair;
    color: $color-american-flame-red;
    text-align: center;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 42px;

    @include breakpoint(large) {
      font-size: 40px;
      line-height: 53px;
    }
  }
}

.search-description {
  padding-top: rem-calc(32px);
}

.page-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-playfair;
  }

  h1,
  h2 {
    color: $color-american-flame-red;
  }

  ul {
    font-weight: 300;
    letter-spacing: 0.08px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.usstove-spinner {
  animation: spin 1s infinite linear reverse;
  display: inline-block;

  &::before {
    content: $usstove-spinner6;
  }
}
