%l-card-grid {
  @include flex-grid-row();

  position: relative;
  width: 100%;

  .column {
    margin-bottom: -zf-get-bp-val($grid-column-gutter, small);

    @include flex-grid-column(1 of 1);

    @include breakpoint(large) {
      margin-bottom: -zf-get-bp-val($grid-column-gutter, large);
    }
  }

  li {
    list-style: none;
  }

  .c-overlay {
    display: none;

    .spinner {
      margin-top: 100px;
      font-size: 46px;
      opacity: 0.6;
    }
  }
}

.l-card-grid {
  @extend %l-card-grid;

  .column {
    @include breakpoint(medium) {
      @include flex-grid-column(4 of 12);
    }

    @include breakpoint(large) {
      @include flex-grid-column(3 of 12);
    }
  }
}

.l-card-grid--3 {
  @extend %l-card-grid;

  .column {
    @include breakpoint(medium) {
      @include flex-grid-column(4 of 12);
    }
  }
}

.l-card-grid--brands {
  @extend %l-card-grid;

  @include breakpoint(large) {
    padding-left: rem-calc(160px);
    padding-right: rem-calc(160px);
  }

  .column {
    @include breakpoint(medium) {
      @include flex-grid-column(4 of 12);
    }
  }
}
