.l-intro {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: rem-calc(32px);

  @include flex-grid-row($base: false);

  .intro__head,
  .intro__copy {
    margin: 0 auto;

    @include flex-grid-column(4 of 4);
  }

  .intro__head {
    width: 100%;

    @include breakpoint(medium) {
      @include flex-grid-column(12 of 12);
    }

    @include breakpoint(large) {
      @include flex-grid-column(10 of 12);
    }
  }

  .intro__copy {
    @include breakpoint(medium) {
      @include flex-grid-column(10 of 12);
    }

    @include breakpoint(large) {
      @include flex-grid-column(8 of 12);
    }
  }
}
